.jumbotron{
    background-image: url("../img/pizza.png");
}

.jumbotron h1 {
    background-color: #ffffff;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tab-content{
    display flex;
    align-items: center;
    justify-content: flex-start;
}

.card-header{
    display: flex;
    justify-content: flex-start;
    color: white;
}

.list-group-item{
    display: flex;
    align-content: center;
}


.card-footer{
    display: flex;
    justify-content: flex-end;
}

