body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}


.message-info {
    background-color: #87cefa;
    /* All directions */
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-right: 25px;
    border-radius: 10px;
}

.message-success {
    background-color: lightgreen;
    /* All directions */
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-right: 25px;
    border-radius: 10px;
}

.message-warning {
    background-color: lightgoldenrodyellow;
    /* All directions */
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-right: 25px;
    border-radius: 10px;
}

.message-error {
    background-color: lightcoral;
    /* All directions */
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-right: 25px;
    border-radius: 10px;
}



/*needs to look more round around the edges*/
/*   border-radius:  is how you do it     */