.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

h3 {
    color: purple;
    text-decoration: underline;
}

body { background-color: darkseagreen;
    background-image: url("https://i.pinimg.com/736x/2e/93/1a/2e931aec90b621b985a79c2e1ae7e17e.jpg");
background-size: no-repeat;
}
